<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
         http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd
          http://code.alibabatech.com/schema/dubbo
           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

     <!--  为了让SpringIoC可以基于注解来做，注解支持-->
     <context:annotation-config/>

     <!--指明注解的扫描包，即将来去哪个包里找注解
     SpringIoC只管扫描service和dao即可
     -->
     <context:component-scan base-package="com.itszt.taotao.manager.dao,com.itszt.taotao.manager.service">
     </context:component-scan>

     <!--  引入外部的一个配置文件，这个文件里放的全都是C3P0数据源连接池的配置-->
     <context:property-placeholder location="classpath*:c3p0-config.properties,
     classpath:redis.properties" ></context:property-placeholder>

     <import resource="classpath:spring-mybatis-config.xml"></import>
     <import resource="classpath:spring-redis-config.xml"></import>
     <import resource="classpath:spring-aop-config.xml"></import>


     <!--定义了提供方应用信息，用于计算依赖关系；在 dubbo-admin 或 dubbo-monitor 会显示这个名字，方便辨识-->
     <dubbo:application name="taotao-manager-service" owner="sj" organization="itszt"/>
     <!--使用 zookeeper 注册中心暴露服务，注意要先开启 zookeeper-->
     <dubbo:registry address="zookeeper://192.168.177.131:2181"/>
     <!-- 用dubbo协议在20880端口暴露服务 -->
     <dubbo:protocol name="dubbo" port="28082" />
     <!--使用 dubbo 协议实现定义好的 api.PermissionService 接口-->
     <dubbo:service interface="com.itszt.taotao.manager.service.inter.GoodsService" ref="goodsServiceImpl" protocol="dubbo" />
     <dubbo:service interface="com.itszt.taotao.manager.service.inter.ItemCatService" ref="itemCatServiceImpl" protocol="dubbo" />
     <dubbo:service interface="com.itszt.taotao.manager.service.inter.ContentService" ref="contentServiceImpl" protocol="dubbo" />
<!--                                                               注意接口与实现类     这地方的实现类是首字母小写   -->


</beans>